@import "../utils/vars.scss";

.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bg.jpg") no-repeat;
}
.register-form-container{
    width: 700px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 15px;
}

//Steps styles
.steps-container{
    width: 100%;
    .steps-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .step{
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #fff;
            cursor: pointer;
            .step-circle{
                span{
                    position: absolute;
                    margin-top: 20px;
                    margin-left: -23px;
                    text-transform: uppercase;
                    color: $purple-color;
                    font-weight: bold;
                    font-size: 0.7rem;
                    justify-self: center;
                }
            }
            &::after{
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color: rgba(148, 123, 218, 0.4);
            }
            &:nth-child(2){
                span{
                    margin-left: -18px;
                }
            }
            &:nth-child(3){
                span{
                    margin-left: -28px;
                }
            }
            &:last-child{
                min-width: 15px;
                max-width: 20px;
                span{
                    margin-left: -20px;
                }
                &::after{
                    display: none;
                }
            }
        }
    }
}

.circle{
    width: 8px;
    height: 8px;
    background-color: $purple-color;
    border-radius: 50%;
}

//Register form wrapper
.register-form-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//main form
.form-container{
    width: 100%;
    height: 100%;
    .from-wrapper{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        label{
            color: $purple-color;
            font-weight: bold;
            font-size: 1.2rem;
        }
        input{
            width: 250px;
            height: 35px;
            margin-top: 10px;
            padding-left: 5px;
            border: 2px solid $purple-color;
            font-size: 1rem;
            color: $purple-color;
        }
        span{
            color: $danger-color;
        }
    }
}
.btn-submit{
    width: 250px;
    height: 35px;
    background-color: $purple-color;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
}
.category-select{
    width: 250px;
    height: 35px;
    margin-top: 10px;
    padding-left: 5px;
    border: 2px solid $purple-color;
    font-size: 1rem;
    color: $purple-color;
}

//Success form
.success-container{
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    h1{
        font-size: 2.5rem;
        font-weight: bold;
        color: $purple-color;
    }
    .success-text-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        font-size: 1.4rem;
        color: rgb(59, 59, 59);
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        span{
            color: rgba(32, 32, 32, 0.8);
        }
    }
}



//Animation step
.complete-step{
    &::after{
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        background: linear-gradient($purple-color, $purple-color);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 3px;
        animation: next-step 1s ease-in;
    }
}
.prev-step {
    .circle{
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        border: 6px solid $purple-color;
        border-radius: 50%;
    }
}
.active{
    .circle{
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        border: 6px solid $purple-color;
        border-radius: 50%;
        transform: scale(1.5);
    }
}

@keyframes next-step{
    0%{
        background: linear-gradient($purple-color, $purple-color);
        background-color: rgba(148, 123, 218, 0.4);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
    }
    100%{
        background: linear-gradient($purple-color, $purple-color);
        background-color: rgba(148, 123, 218, 0.4);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 3px;
    }
}
